/********** MY ACCOUNT **********/

/* Style du titre de la page "Mon Account" */
.myAccount h1 {
    padding-bottom: 40px;
    margin-left: 130px;
}

/* Conteneur principal de la page My Account */
.myAccount {
    display: flex;
    flex-direction: column;
    width: 93.43%;
    padding-top: 150px;
    padding-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
}

/* Boîte englobant la section profil et les informations personnelles */
.myAccountBox {
    display: flex;
    margin-left: 130px;
    width: 89.5%;
    /* height: 538px;  Commenté pour être ajustable */
    margin-bottom: 10px;
}

/* Bloc du profil utilisateur */
.boxProfile {
    display: flex;
    flex-direction: column;
    width: 47%;
    margin-right: 10px;
    margin-left: 0;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
}

/* Icône du livre (pour le nombre de livres) */
.iconBook {
    padding-right: 5px;
}

/* Bloc contenant la photo de profil et le lien de modification */
.profileBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileBlock img {
    width: 135px;
}

.profileBlock a {
    color: #a6a6a6;
    text-decoration: underline;
    font-size: 0.8em;
}

/* Bloc contenant les informations textuelles du profil */
.profileText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileText h4 {
    font-family: "Playfair Display", "Sans-serif", Arial;
    font-size: 24px;
    font-weight: normal;
}

.profileText p {
    color: #292929;
    padding-top: 20px;
    padding-bottom: 0;
}

/* Style spécifique pour le premier paragraphe (date d'adhésion) */
#firstP {
    font-size: 14px;
    color: #a6a6a6;
}

/* Style pour le second paragraphe (texte "BIBLIOTHÈQUE") */
#secondP {
    font-size: 8px;
    font-weight: 600;
}

.profileText p:last-of-type {
    padding-top: 5px;
    font-size: 0.8em;
}

/* Bloc d'informations personnelles */
.boxInformationProfile {
    width: 48%;
    background-color: #ffffff;
    border-radius: 20px;
}

/* Formulaire des informations personnelles */
.informationProfile {
    width: 57.85%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 30px;
}

.informationProfile h4 {
    padding-bottom: 20px;
    font-weight: normal;
}

.informationProfile input {
    background-color: #EDF2F6;
}

/* Ligne de séparation décorative */
.underline {
    border: 1px solid #f5f3ef;
    width: 242px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Section listant les livres de l'utilisateur */
.myBookBlock {
    margin-top: 30px;
    width: 87.5%;
    margin-left: 130px;
    margin-bottom: 90px;
}

/* Table des livres (version desktop) */
table {
    width: 100%;
    border-radius: 20px;
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
}

th {
    font-size: 8px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #ffffff;
}

tbody tr {
    height: 130px;
    font-size: 12px;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Lignes impaires */
}

tbody tr:nth-child(even) {
    background-color: #EDF2F6; /* Lignes paires */
}

/* Définition de la largeur des colonnes de la table */
.photo {
    width: 19%;
    padding-left: 95px;
}

.title {
    width: 15.7%;
}

.author {
    width: 14.3%;
}

.description {
    width: 18.09%;
    padding-left: 10px;
    padding-right: 71.5px;
    font-style: italic;
}

.available {
    width: 13.3%;
    padding-left: 30px;
}

/* Style des boutons de disponibilité */
.available button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0;
    height: 18px;
    font-size: 0.9em;
    color: white;
    padding: 10px 20px;
}

/* Bouton indiquant "disponible" */
.is-available {
    background-color: #6DC5A1;
}

/* Bouton indiquant "non disponible" */
.not-available {
    background-color: #c56d6d;
}

.editDelete {
    width: 18.09%;
}

.btnChoice {
    font-size: 1em;
    border: none;
    background-color: transparent;
    text-decoration: underline;
}

.btnDelete {
    color: #c56d6d;
}

.btnEdit {
    color: #292929;
    padding-right: 20px;
}

.btnAddBook {
    font-weight: bold;
    padding: 20px;
}

/*** Tooltip pour la description complète ***/
.tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: normal;
    max-width: 500px;
    min-width: 500px;
    word-wrap: break-word;
}

.tooltip:hover::after {
    visibility: visible;
    opacity: 1;
}

.myBookBlock img {
    width: 79px;
}
#save {
    width: 47%;
    font-weight: bold;
    color: #00AC66;
    background-color: #f5f3ef;
    border: #00AC66 solid 1px;
    margin-top: 0;
    padding: 20px;
}

/********** MEDIA QUERIES (MOBILE) **********/
@media screen and (max-width: 768px) {
    .myAccountBox {
        display: block;
        margin: 0;
        width: 100%;
        height: unset;
        margin-bottom: 25px;
    }

    .boxProfile {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 40px;
        margin-bottom: 35px;
    }

    .boxInformationProfile {
        width: 100%;
        padding-bottom: 40px;
        margin: 0;
    }

    .myAccount {
        margin: auto;
        padding-bottom: 0;
        padding-top: 100px;
    }

    .myAccount h1 {
        margin-left: 20px;
        margin-bottom: 40px;
        padding-bottom: unset;
    }



    .informationProfile {
        margin: 0 25px;
        padding-bottom: 0;
        width: unset;
    }
}

/* Par défaut, on affiche la version desktop et on masque la mobile */
.desktopVersion {
    display: block;
}
.mobileVersion {
    display: none;
}

@media screen and (max-width: 768px) {
    /* En mobile, on masque la version desktop et on affiche la version mobile */
    .desktopVersion {
        display: none;
    }
    .mobileVersion {
        display: block;
        margin: 0;
        width: 100%;
        margin-bottom: 40px;
    }

    .mobileVersion .card {
        background-color: #fff;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .mobileVersion .cardPhoto img {
        width: 79px;
        height: auto;
        display: block;
        margin-right: 20px;
        border-radius: unset;
    }

    .cardActions {
        padding-top: 40px;
    }

    .cardActions a {
        margin-right: 10px;
        text-decoration: underline;
    }

    .cardPhoto {
        margin-left: 0;
        margin-right: 10px;
    }

    .cardTitle {
        margin: 0;
    }
    .cardTitle h3 {
        font-weight: normal;
        font-size: 0.875em;
    }
    .cardTitle p {
        font-size: 0.875em;
    }
    .photoTitle {
        margin: 0;
        display: flex;
        align-items: center;
    }
    .cardInfo p {
        margin-bottom: 40px;
        font-style: italic;
        font-size: 0.875em;
    }

    .is-available, .not-available {
        display: block;
        color: white;
        padding: 5px 15px;
        border-radius: 20px;
        font-size: 0.56em;
    }

    .available-notAvailable {
        display: inline-block;
        margin-top: 10px;
    }

    .cardActions a:last-of-type {
        color: #cb2d2d;
        margin-left: 25px;
    }


}
