
.mailing {
    display: flex;
    background-color: #f5f3ef;

    padding-bottom: 0px;
}

.mailingContainer {
    width: 22%;
    
    padding-right: 20px;
    background-color: #faf9f7;
    margin-left: 130px;
}

.mailingTitle {
    padding-bottom: 50px;
    margin-left: 35px;
    
}
.mailingTitle h1 {
    font-family: 'Playfair Display','sans-serif';
font-size: 1.625em;
color: black;
margin-top: 60px;
}

.contact {
    display: flex;
    padding-bottom: 25px;
    margin-left: 10px;
    
    align-items: center;
 
    
}



.contactImg img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.contactText {
    margin-left: 15px;
    width: 50%;
}

.contactText p:first-child {
    font-size: 0.875em;
    color: #292929;
}

.contactText p:last-child {
    font-size: 0.75em;
    color: #a6a6a6;
}

.contactTime {
    width: 25%;
}

.contactTime small{
    width: 25%;
    text-align: right;
    font-size: 0.75em;
}

.containerMessage {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 35px;
    width: 55%;
    margin-right: 120px;


}

.blockMessage {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 30%;

}
.messagesContainer {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    margin: 0;
}

.messageContainerTitle {
    margin: 0;
    margin-top: 40px;
}
.messageContainerTitle h3 {
    
    font-size: 0.875em;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 20%;
    

}

.mailing h3 img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0;
    margin-right: 10px;

}

.messageUsername {
    background-color: #f1f1f1;
    padding: 0.8rem;
    border-radius: 8px;
    margin: 0;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.messageUsername div {
    display: flex;

}

.messagesContainer small {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}
.messagesContainer p {
    color: #333;
}

textarea {
    width: 80%;
    margin: 0;
    border-radius: 8px;
    color: #a6a6a6;
    font-size: 0.875em;
    padding-top: 15px;
    height: 50px;
    font-family: 'inter', 'sans serif';
    padding-left: 20px;
    outline: none;
    border: none;
    
}


.formMessage {
    margin: 80px 0 ;
   
}

.formMessage form {
    display: flex;
    justify-content: space-between;

}

.buttonMessage {
    
    margin: 0;
    width: 132px;
    cursor: pointer;
    
}

.messageWrapper {
    display: flex;
    flex-direction: column;
    min-width: 60%;
    margin: 20px 0;

}

/* Messages envoyés */
.sent {
    justify-content: flex-end;
    margin-left: auto; 

}

/* Conteneur pour l'avatar et le contenu */
.messageBody {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0;
    
}
.messageAvatar  {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;

}

/* Avatar */
.messageAvatar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 5px;
    margin: 0;

}

/* Heure des messages */
.messageTime {
    font-size: 0.75em;
    color: #6c757d;
    margin-bottom: 5px;
    text-align: left;

}

.sent .messageTime {
    text-align: right;
    justify-content: flex-end;
    margin-bottom: 10px;

}

/* Contenu des messages */
.messageContent {
    background-color: #fff; /* Couleur pour les messages reçus */
    padding: 10px 20px;
    border-radius: 8px;
    word-wrap: break-word;
    margin: 0;
    
}

.sent .messageContent {
    background-color: #edf2f6; 
    display: flex;
    justify-content: flex-start;
}


/* Style par défaut pour les contacts */

/* Contact actif */
.activeContact {
    background-color: #ffffff; /* Blanc pour le contact sélectionné */
   
}


/* Conteneur pour l'avatar et l'heure */
.messageMeta {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin: 0;
}

/* Avatar des messages */
.messageAvatar img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Heure des messages */
.messageTime {
    font-size: 0.75em;
    color: #6c757d;
}

/* Pour les messages envoyés, alignement à droite */
.sentTime {
    text-align: right;
    margin-bottom: 5px;
}
