/********** HOME **********/

/** First Section **/

.firstSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
}

.homeFirstSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
}

.homeFirstSection article {
    width: 42%;
    padding: 0 20px;
    margin-right: 65px;
}

.homeFirstSection figcaption {
    text-align: right;
    padding: 10px 0;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    color: #A6A6A6;
}

.homeFirstSection aside {
    justify-content: flex-end;
}

.homeFirstSection img {
    object-fit: cover;
    height: 539px;
}

/** Second Section **/

.secondSection {
    width: 100%;
}

.homeSecondSection {
    background-color: #FAF9F7;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.homeSecondSection h1 {
    text-align: center;
    padding-top: 40px;
}

.imgGroupBlocks {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.imgBlock {
    background-color: white;
    height: 324px;
    margin-right: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.imgBlock img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 0;
}

.imgBlockText {
    display: flex;
    flex-direction: column;
    padding: 15px 0 0 20px;
    font-size: 0.9em;
    font-weight: normal;
}

.imgBlockText h3 {
    font-size: 1em;
    font-weight: normal;
    padding-bottom: 10px;
}

.imgBlockText p {
    color: grey;
    font-size: 1em;
    padding-top: 10px;
}

.imgBlockText p:last-of-type {
    font-size: 0.8em;
    font-style: italic;
    padding-top: 20px;
}

.seeAllBooks {
    display: flex;
    justify-content: center;
    border: none;
}

/** Third Section **/

.thirdSection {
    width: 100%;
}

.homeThirdSection {
    background-color: #F5F3EF;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.homeThirdSection h1 {
    text-align: center;
    padding-bottom: 20px;
}

#ptitle {
    width: 28%;
    text-align: center;
}

.textGroupBlocks {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.textBlock {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 215px;
    height: 139px;
    margin-right: 40px;
    padding: 0 23px;
    font-size: 0.85em;
    border-radius: 10px;
}

.seeAllBooksTransparent {
    display: flex;
    justify-content: center;
    border: 2px solid #00AC66;
    background-color: transparent;
    margin-bottom: 40px;
}

.seeAllBooksTransparent a {
    color: #00AC66;
    font-weight: bold;
}

/** Fourth Section **/
/* (Aucun style spécifique n'est défini ici, éventuellement à ajouter selon vos besoins) */

/** Fifth Section **/

.fifthSection {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 40px;
}

.homeFifthSection {
    width: 35%;
    margin: 0;
    padding: 0 0 40px 70px;
}

.fifthSection h1 {
    padding-bottom: 25px;
}

.fifthSection p {
    padding: 0 45px 20px;
    font-size: 1em;
}

.fifthSection span {
    display: block;
    font-style: italic;
    color: #A6A6A6;
    font-size: 0.85em;
    padding-bottom: 20px;
}

.signature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
}

.titleHome {
    margin: 0;
    font-size: 1.125em;
    font-weight: normal;
    color: black;
}

#heart {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

/********** MEDIA QUERIES (MOBILE) **********/
@media screen and (max-width: 768px) {
    .homeFirstSection {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 0;
        margin: 0;
        width: 100%;
        padding-bottom: 20px;
    }

    .homeFirstSection article {
        margin: 0;
        width: 100%;
    }

    .button {
        margin-top: 30px;
        width: 100%;
    }

    .seeAllBooks {
        display: none;
    }

    .homeFirstSection h1 {
        padding-right: 0;
    }

    .homeFirstSection img {
        width: 377px;
        height: 503px;
        object-fit: cover;
    }

    .homeFirstSection figcaption {
        padding-right: 10px;
    }

    .homeSecondSection {
        padding-top: 0;
        padding-bottom: 80px;
    }

    .homeSecondSection h1 {
        padding: 20px 80px 0 70px;
    }

    .imgGroupBlocks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 10px;
    }

    .imgBlock {
        margin: 10px;
    }

    .homeThirdSection {
        padding-top: 20px;
    }

    .textGroupBlocks {
        display: block;
        padding-top: 20px;
    }

    .textBlock {
        margin-bottom: 20px;
        width: 80%;
    }

    #ptitle {
        width: 80%;
    }

    .textBlock p {
        margin: 0 auto;
    }

    .seeAllBooksTransparent {
        width: 79%;
    }

    .fourthSection img {
        width: 100%;
        object-fit: cover;
        height: 425px;
    }

    .fifthSection {
        padding-bottom: 20px;
    }

    .homeFifthSection {
        padding: 20px 40px 0 20px;
        width: 100%;
    }

    .signature {
        display: block;
    }

    #heart {
        margin: 0 auto;
        padding-top: 40px;
    }

    .imgBlock img {
        width: 160px;
        height: 160px;
        object-fit: cover;
    }
}
