.connexionBlock, #connexionTitle, .formInputLogin, .connexionImg, .subscribe, .subscribe a {
    margin: 0;
}

.connexionBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;

}

#connexionTitle {
    padding-bottom: 40px;
    text-align: left;

}

.connexionText {
    display: flex;
    flex-direction: column;
    padding-left: 160px;

}

.formInputLogin {
    padding-bottom: 20px;

}

.subscribe a {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.connexionText p {
    padding-top: 30px;
    color: #292929;
    font-size: 0.9em;

}

.connexionText p a {
    text-decoration: underline;

}