/*** AddBookForm ***/

.addEditBookProfileForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #faf9f7;
}

.addEditBookProfileForm button {
    margin-top: 20px;
    width: 74%;

}

.addEditBookProfileForm h1 {
    margin: 0;
    padding-left: 125px;
    font-size: 1.625em;
}

.addEditBookProfileForm p {
    padding-bottom: 10px;
    font-size: 0.88em;
    padding-left: 125px;
    
}

.addEditBookProfileForm p a{

    color: #a6a6a6;
}

.arrow {
    padding-right: 5px;
}

/*** AddBookContainer ***/

.addEditBookContainer {
    display: flex;
    background-color: #fff;
    padding: 60px;
    border-radius: 15px;
    margin-left: 130px;
}

.addEditBookContainer .formInput input{
    background-color: #edf2f6;
    width: 435px;
    padding-left: 20px;
}

.addEditBookContainer .formInput label {
    color: #a6a6a6;
}

.addEditBookContainer img {
    width: 488px;
    border: solid 1px #edf2f6;
}

.addEditBookContainer p {
    text-align: right;
    
}

.addEditBookContainer p a {
    color: #292929;
    text-decoration: underline;
    
}

/*** LeftBlock ***/

.leftBlock {
    padding-right: 80px;

}

.leftBlock p:first-child {
    text-align: left;
    padding-left: 0;
    color:  #a6a6a6;
}

/*** Id addBook et EditBook ***/

.addEditBookContainer .formInput #addBookDescription,
.addEditBookContainer .formInput #getBookDescription {
    height: 356px;
    width: 100%;

}

#addBookDescription, 
#getBookDescription {
    background-color: #edf2f6;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    color: #292929;
    margin-top: 10px;
        
}

.formInput  {
    padding-top: 20px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
}

#addBookIsAvailable, 
#getBookIsAvailable {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 18px;
    background-color: #edf2f6;
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 5px;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;

}

#addBookIsAvailable option, 
#getBookIsAvailable option {
    display: flex;
    justify-content: center;

}

/***** AddProfilePicture   *****/

.profileContainer {
    display: flex;
    align-items: center;
    margin: 0;

}

.profilePicture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-left: 122px;
    margin-right: 150px;
    
}

.profilePicture a {
    padding-left: 100px;
    font-size: 1.5em;

}

.profilePicture img {
    border-radius: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

}

#profileImagePreview {
    border-radius: 100%;
    padding-bottom: 5px;
    
}
