
/********** HEADER **********/

header {
    background-color: #F5F3EF;
    width: 100%;
    position: fixed;
    z-index: 100;
       
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
        
}

nav ul div li {
    display: flex;
    padding-right: 60px;
    align-items: center;
    
}

ul div li a {
    color: black;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

nav ul li a.active {
    font-weight: bold;
}

header span {
    display: inline-block;
    background-color: black;
    color: white;
    width: 10px;
    height: 14px;
    border-radius: 30px;
    text-align: center;
    font-size: 0.7em;
    margin-left: 3px;

}

.icon {
    padding-right: 3px;
    height: 13px;
    
}

.firstPart, .secondPart {
    display: flex;
    align-items: center;

}

#logo {
    background-color: #F5F3EF;
    height: 51px;
    
}


